
*{
  background-color: #111d5e;
  margin: 0;
  padding: 0;
  color: azure;
  
}

.heading{
  margin-left: 46%;
  display: block;
  font-weight: 700;
  font-size: 28px;
}
.container{
  position: absolute;
	top: 70%;
	left:50%;
	transform: translate(-50%,-50%);
	width: 300px;
  height: 400px;
  transition: 0.5s;
}
.container .screen{
  display: block;
  margin-left: 50%;
  margin-bottom: 30px;
  font-size: 30px;
}
.container .control{
  display: inline-flexbox;
  

}
 .addbtn{
   margin-left: 20%;
   width: 50px;
   height: 50px;
   border-radius: 20px;
   border-color: #f37121;
   font-size: 24px; 
  
  
}
.addbtn:hover{
  border : 3px solid #ffbd69
}
.subbtn{
  margin-left: 40%;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  border-color: #f37121;
  font-size: 24px; 
  
}
.subbtn:hover{
  border : 3px solid #ffbd69
}
.startstopbtn{
  margin-top: 40px;
  border-color: #f37121;
  padding: 5px;
  margin-left: 125px;
  border-radius: 15px;
}
.startstopbtn:hover{
  border : 3px solid #ffbd69
}
.resetbtn{
  margin-top: 20px;
  border-color: #f37121;
  padding: 5px;
  border-radius: 15px;
  margin-left: 145px;
}
.resetbtn:hover{
  border : 3px solid #ffbd69;
} 

 .alert{
  position: absolute;
	top: 25%;
  left:51%;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 20px;
	transform: translate(-50%,-50%);
	width: 300px;
  height: 140px;
  transition: 0.5;
  background-color: blanchedalmond;
  border : solid white;
  color: #111d5e;
  z-index: 1; 
  opacity: 0.7;
 

}
.alert .txt{
margin-top: 50px;
margin-left: 100px;
background-color: blanchedalmond;
color: black;
font-weight: 700;
z-index: 1;


}
.alert .alertbtn{
float: left;
margin-left: 80%;
background-color: blanchedalmond;
color: black;
border: black;


/* margin-top: 50%; */
border-radius: 10px;

}